<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
xmlns="http://xmlns.jcp.org/xml/ns/javaee" 
xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" 
id="WebApp_ID" version="4.0">

<!-- DB접속이 느리기 때문에 listener로 미리 접속 -->
<listener>
	<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
</listener>

<context-param>
	<param-name>contextConfigLocation</param-name>
	<param-value>
        /WEB-INF/config/action-service.xml
        /WEB-INF/config/action-dataSource.xml
    </param-value>
</context-param>



<!-- filter로 화면에서 서브릿걸치기전에 한글인코딩 등 처리 -->





<servlet>
	<servlet-name>action</servlet-name>
	<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
	<load-on-startup>1</load-on-startup> <!-- 값이 1이상 이면 톰캣 실행시 DispatcherServlet를 미리 메모리에 로드-->
</servlet>

<!-- 빈 설정은 action-servlet.xml에서 분리하여 설정 -->
<servlet-mapping>
	<servlet-name>action</servlet-name>
	<url-pattern>*.do</url-pattern>
</servlet-mapping>
</web-app>